<div class="container">
  <h3><%= link_to simple_format(protocol.title), protocol %></h3>
  <h5><strong>Principal author:</strong> <%= protocol.author %></h5>
  <p>
    Views: <strong><%= protocol.metric.views %></strong> - 
    Citations: <strong><%= protocol.metric.citations %></strong>
  </p>

  <% paragraphs_by_subtitle(protocol.method).each do |subtitle, content| -%>
    <p>
      <%= simple_format("#{subtitle}: #{metric_paragraph(content)}") %>
    </p>
  <% end -%>
  
  <p>Journal: <%= link_to protocol.journal, protocol.source, target: "_blank" %></p>
  <div class="pull-right">
    <p>
      <%= link_to 'Edit', edit_protocol_path(protocol), class: "btn btn-primary" %>
      <%= link_to 'Delete', protocol, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </p>
  </div>
</div>
