<div class="row">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h3><%= @protocol.title %></h3>

    <p>
      <strong>Author(s):</strong>
      <%= @protocol.author %>
    </p>

    <p>
      <strong>Method:</strong>
      <%= simple_format(@protocol.method) %>
    </p>

    <p>
      <strong>Journal:</strong>
      <%= @protocol.journal %>
    </p>
    <div class="pull-right">
      <%= link_to 'Edit', edit_protocol_path(@protocol), class: "btn btn-primary" %>
      <%= link_to 'Back', protocols_path, class: "btn btn-default" %>
    </div>
  </div>
</div>